/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body{
    line-height: 1.5;
    font-weight: 600;
}
section, footer, header{
    width: 80%;
    margin: auto;
}
.navigation{
    text-align: center;
    padding: 15px 20px 25px 15px;
    background-color: #00b359;
    position: fixed;
    width: 100%;
}
.navigation nav{
    display: inline-block;
}
.navigation nav li:hover{
    background: #f1f1f1;
    padding:  5px 10px;
    border-radius: 10px;
    color: #00b359;
}
.navigation nav ul li{
    display: inline-block;
    margin-right: 85px;
}
.navigation nav a{
    text-decoration: none;
    color: white;
}
.navigation nav a:hover{
    color: #00b359;
}
.navigation img{
    position: relative;
    top: 10px;
}

/*   HEADER   */

header{
    padding: 80px 0 40px 0;
    border-bottom: 1px solid black;
}
header .hero img{
    width: 100%;
}

.hero h1{
    padding: 20px 0;
    font-size: 30px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    border-bottom: 2px solid black;
    justify-content: space-between;
}
.flex .flex1{
    width: 510px;
    padding: 25px;
    background-color: #f1f1f1;
    border: 1px solid black;
    margin: 30px 0;
}
.flex1 p{
    margin: 20px 0;
}
.flex1 button{
    padding: 10px 40px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: white;
}
.flex1 button a{
    text-decoration: none;
    color: #000;
}
/*   SECTION MORE-INFO   */
.more-info{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: space-between;
}
.more-info .info{
    width: 500px;
    
}
.info .list{
    list-style-type: square;
    list-style-position: inside;
    padding: 50px 0;
}

.info img{
    width: 100%;
}

/*   FOOTERE   */
footer{
    text-align: center;
    padding: 50px 0;
}
/*  responsive   */
@media screen and (max-width: 991px) and (min-width: 768px){
    header, section, footer{
        width: 90%;
    }
    .flex .flex1{
        width: 100%;
    }
    .more-info .info{
        width: 100%;
    }
}


